<div *ngIf="!mem">
  <div>
    <button (click)="behind()" class="btn btn-primary"><</button>
  </div>
  <div>
    <button (click)="ahead()" class="btn btn-primary">></button>
  </div>
</div>

<div class ="container" style ="widh:50%; padding-top 30px;">
  <table class="table" *ngFor='let key of keys'>
    <tr>
      <th colspan="2" style="text-align:center">{{eventMap.get(key)[0].fromDate.toDateString()}}</th>
    </tr>
    <table class="table" *ngFor='let event of eventMap.get(key)'>
      <tr>
        <td width="50%"> {{event.fromDate.toLocaleTimeString() + " - " + event.toDate.toLocaleTimeString()}} </td>
        <td>{{event.ActivityName}}</td>
      </tr>
    </table>

  </table>
</div>