<table *ngIf="results" border="1">
  <thead>
    <tr>
      <th>Activity ID</th>
      <th>Description</th>
      <th>Date Created</th>

    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let p of results; let i=index">
      <td>{{p.activityId}}</td>
      <td>{{p.activityDec}}</td>
      <td>{{p.dateCreated}}</td>

    </tr>
  </tbody>
</table>

<p *ngIf="userData">
{{userData.access_token}}
</p>

<table *ngIf="eventData" border ="1">
  <thead>
    <tr>
      <th>From</th>
      <th>To</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let e of eventData; let j=index">
      <td>{{e.fromDate}}</td>
      <td>{{e.toDate}}</td>
    </tr>
  </tbody>
</table>