@model ZenithAssignment.Models.Event

@{
    ViewBag.Title = "Edit an event";
}

@section Scripts {
    <link href="~/lib/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.css" rel="stylesheet" />
    <script src="~/lib/moment/moment.js"></script>
    <script src="~/lib/eonasdan-bootstrap-datetimepicker/src/js/bootstrap-datetimepicker.js"></script>

    <script type="text/javascript" >
        $(function () {
            $('.datetimepicker1').datetimepicker();

        });
    </script>
}

<h2>@ViewData["Title"]</h2>

<form asp-controller="Events" asp-action="Edit" method="post" class="form-horizontal" role="form">
    <div class="form-horizontal">
        <div asp-validation-summary="All" class="text-danger"></div>
        @Html.HiddenFor(m => m.EventId, Model.EventId);
        <div class="form-group">
            <label asp-for="FromDate" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="FromDate" class="form-control datetimepicker1" />
                <span asp-validation-for="FromDate" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="ToDate" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="ToDate" class="form-control datetimepicker1" />
                <span asp-validation-for="ToDate" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="ActivityId" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="ActivityId" class="form-control" />
                <span asp-validation-for="ActivityId" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="IsActive" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="IsActive" class="form-control" />
                <span asp-validation-for="IsActive" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Update" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

